body {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: red;
}

#post {
  border: solid 1px red;
}

#cabecera {
  font-size: 30px;
  font-weight: bold;
  background-color: royalblue;
  padding: 1em;
  color: white;
}
